.container {
  padding: 2rem 0;
}

.name {
  font-weight: bold;
  font-size: x-large;
}

.description-container {
  padding-top: 2rem;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}