.container {
  padding-top: 2rem;
}

.container table {
  border-collapse: collapse;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.container td {
  padding: 8px 16px;
}

.container td:nth-child(1) {
  background-color: goldenrod;
  color: white;
  border: solid 1px darkgoldenrod;
}

.container td:nth-child(2) {
  text-align: right;
  border: solid 1px slategray;
}
